 body{
	font-family: "Roboto,Helvetica Neue",Helvetica,Arial,sans-serif; 
 }
 #container{
	 padding-top: 30px;
	 padding-left:50px;
	 width:90%;
 }
 
 input.error{
	color:red; 
 }
 
 #userMessage{
	 color:white;
 }
 .auth{
	 margin-top:6px;
	float:right;
 }
 
 h5 {
    color: #2e44b9;
    font-weight: bold;
    font-size: 24px;;
}

.edit{
	margin-top:6px;
	margin-right:4px;
}

.new{
	margin-top:6px;
}

.delete{
	margin-top:6px;
	margin-right:4px;
	color:darkred;
}

#text{
	width:360px;
	height:200px;
}

#key{
	width:180px;
}

#title{
	width:360px;
}

#firebaseEdit b{
	display:block;
	
}
#postJs{
	margin-left:20px;
	margin-top:20px;
}
#postJs b{
	display:block;
	
}

#textPost{
	width:360px;
	height:182px;
}

#keyPost{
	width:180px;
}

#titlePost{
	width:360px;
}

.auth{
	font-size:12px;
}

.modal-backdrop{
	z-index:0 !important;
}

.modal-title{
	    color: #2e44b9 !important;;
    font-weight: bold !important;;
    font-size: 16px !important;;
	text-align:center;
}

.modal-body{
	font-size: 14px !important;;
}
