 body{
	font-family: "Roboto,Helvetica Neue",Helvetica,Arial,sans-serif; 
	width:100%;
 }
 
 #container{
	 padding-top: 30px;
	 padding-left:50px;
	 width:90%;
 }
 
 .on-mobile{
	 display:none important!;
 }
 
 .on-desktop{
	 display:inline-block;
 }
 
 input.error{
	color:red; 
 }
 
 input.whenOff{
	 width:120px;
 }
 
 #userMessage{
	 color:white;
 }
 
 .auth{
	margin-top:6px;
	float:right;
	width:100%;
 }

 
 h5 {
    color: #2e44b9;
    font-weight: bold;
    font-size: 24px;;
}

.edit{
	margin-top:6px;
	margin-right:4px;
}

.searchField{
	height:30px;
	width:250px;
}

.new{
	margin-bottom:2px;
}

.search{
	margin-bottom:2px;
}

.delete{
	margin-top:6px;
	margin-right:4px;
	color:darkred;
}


.post-delete {
	margin-top:6px;
	margin-right:4px;
	color:darkred;
}

.post-edit{
	margin-top:6px;
	margin-right:4px;
}

#text{
	width:360px;
	height:200px;
}

#key{
	width:180px;
}

#title{
	width:360px;
}

#firebaseEdit b{
	display:block;
	
}
#postJs{
	margin-left:20px;
	margin-top:20px;
}
#commentModal label{
	display:block !important;
	 user-select: none;
}

.post-text{
	width:360px;
	height:182px;
}

.post-key{
	width:180px;
}

.inviteToLogAndComment{
	font-style: italic;
}

.post-title{
	width:360px;
}

.subject{
	color:darkred;
	font-size:16px;
	padding-right:8px;
}

.comment-title{
	color:darkred;
	font-size:14px;
	padding-right:8px;
}

.comment-post{
	margin-left:20px;
	margin-bottom:12px;
}

.auth{
	font-size:12px;
}

.modal-backdrop{
	z-index:0 !important;
}

.modal-title{
	    color: #2e44b9 !important;;
    font-weight: bold !important;;
    font-size: 16px !important;;
	text-align:center;
}

.modal-body{
	font-size: 14px !important;;
}

a.btn-demo{
	border-radius:4px;
	text-decoration:none;
	border:1px solid #d4d4d4;
	padding: 4px 8px 4px 8px;   
	background-image: linear-gradient(to bottom,#fee 0,#e0e0f0 100%);
}

a.btn-demo:hover{
	background-image: linear-gradient(to bottom,#c0c0d0 0,#dcc 100%);
}

.iconAuth{
	float:left;color:white;font-size: 2em;margin:1px 8px 0 8px;cursor:pointer;
}

@media screen and (max-width:299px){
	body{
		display:none;
	}
}

@media screen and (min-width: 300px) and (max-width: 640px) {
	
.container-fluid{
	    padding-left: 0;

}
 h5 {
    color: #2e44b9;
    font-weight: bold;
    font-size: 18px;;
}
 .line1{
	width:40px;
 }
 .menu{
	margin-top:-44px; 
	padding-bottom:4px;
 }
 
 .menu ul{
	 margin-left:24px;
 } 
 
 .menu li{
	 	 line-height:16px;

 }
 .title{
	 margin-left:30px;
 }
 .iconAuth{
	position:absolute;top:12px;color:white;font-size: 2em;margin:1px 8px 0 8px;cursor:pointer;
}

.navbarwithpadding {
	padding-bottom:6px;
}
button.whenOff{
	padding:3px 6px 3px 6px;
	font-size:12px;
}
button.whenOn{
	padding:3px 6px 3px 6px;
	font-size:12px;
}
.searchField{
	height:24px;
	width:190px;
}
.subject{
	display:block;
}

 div[id*='-posts']{
    font-size:12px;
}

img{
	max-width:100%;
}
#container{
	font-size:12px;
	 padding-top: 00px;
	 padding-left:10px;
	 width:95%;
	 overflow-x:hidden;
 }
pre code{
	font-size:9px;
}
canvas{
	margin-left:0;
}
 input.whenOff{
	 width:27%;
 }
}


